In [1]:
import pandas as pd
import numpy as np
df= pd.read_csv("C:/Users/user/Downloads/dataInsurance.csv")
df.head()

  age,sex,bmi,children,smoker,region,charges
0   19,female,27.9,0,yes,southwest,16884.924
1     18,male,33.77,1,no,southeast,1725.5523
2         28,male,33,3,no,southeast,4449.462
3  33,male,22.705,0,no,northwest,21984.47061
4     32,male,28.88,0,no,northwest,3866.8552

In [2]:
df= pd.read_csv("C:/Users/user/Downloads/dataInsurance.csv",sep='[,]',engine='python')
df.head()

  "age     sex     bmi  children smoker     region      charges"
0  "19  female  27.900         0    yes  southwest    16884.924"
1  "18    male  33.770         1     no  southeast    1725.5523"
2  "28    male  33.000         3     no  southeast     4449.462"
3  "33    male  22.705         0     no  northwest  21984.47061"
4  "32    male  28.880         0     no  northwest    3866.8552"

In [3]:
df.columns

Index(['"age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges"'], dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   "age      1338 non-null   object
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges"  1338 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 73.3+ KB

In [5]:
df.isnull().sum()

"age        0
sex         0
bmi         0
children    0
smoker      0
region      0
charges"    0
dtype: int64

In [6]:
df2=df.rename({'"age':'age',
           'charges"': 'charges'}, axis=1)
df2.head()

   age     sex     bmi  children smoker     region       charges
0  "19  female  27.900         0    yes  southwest    16884.924"
1  "18    male  33.770         1     no  southeast    1725.5523"
2  "28    male  33.000         3     no  southeast     4449.462"
3  "33    male  22.705         0     no  northwest  21984.47061"
4  "32    male  28.880         0     no  northwest    3866.8552"

In [7]:
dict_data= {'"':'',}
df2= df2.replace(dict_data, regex=True)
df2

     age     sex     bmi  children smoker     region      charges
0     19  female  27.900         0    yes  southwest    16884.924
1     18    male  33.770         1     no  southeast    1725.5523
2     28    male  33.000         3     no  southeast     4449.462
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest    3866.8552
...   ..     ...     ...       ...    ...        ...          ...
1333  50    male  30.970         3     no  northwest   10600.5483
1334  18  female  31.920         0     no  northeast    2205.9808
1335  18  female  36.850         0     no  southeast    1629.8335
1336  21  female  25.800         0     no  southwest     2007.945
1337  61  female  29.070         0    yes  northwest   29141.3603

[1338 rows x 7 columns]

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   object
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 73.3+ KB

In [9]:
df2['age']= pd.to_numeric(df2['age'])

In [10]:
df2['charges']= pd.to_numeric(df2['charges'])

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

# how many male from the south east has a bmi of 30 and above

In [12]:
df_se= df2[(df2.region== 'southeast')]
df_se.head()

    age     sex    bmi  children smoker     region     charges
1    18    male  33.77         1     no  southeast   1725.5523
2    28    male  33.00         3     no  southeast   4449.4620
5    31  female  25.74         0     no  southeast   3756.6216
6    46  female  33.44         1     no  southeast   8240.5896
11   62  female  26.29         0    yes  southeast  27808.7251

In [13]:
dfs= df_se[(df_se.sex=='male')]
dfs.head()

    age   sex    bmi  children smoker     region     charges
1    18  male  33.77         1     no  southeast   1725.5523
2    28  male  33.00         3     no  southeast   4449.4620
14   27  male  42.13         0    yes  southeast  39611.7577
22   18  male  34.10         0     no  southeast   1137.0110
42   41  male  21.78         1     no  southeast   6272.4772

In [14]:
df_bmi= dfs[dfs.bmi>=30]
df_bmi

      age   sex    bmi  children smoker     region      charges
1      18  male  33.77         1     no  southeast   1725.55230
2      28  male  33.00         3     no  southeast   4449.46200
14     27  male  42.13         0    yes  southeast  39611.75770
22     18  male  34.10         0     no  southeast   1137.01100
49     36  male  35.20         1    yes  southeast  38709.17600
...   ...   ...    ...       ...    ...        ...          ...
1289   44  male  34.32         1     no  southeast   7147.47280
1300   45  male  30.36         0    yes  southeast  62592.87309
1317   18  male  53.13         0     no  southeast   1163.46270
1322   62  male  38.83         0     no  southeast  12981.34570
1327   51  male  30.03         1     no  southeast   9377.90470

[140 rows x 7 columns]

In [15]:
df_bmi.shape

(140, 7)

In [16]:
df_bmi['sex'].value_counts().sum()

140

# how many female smokers do we have for the north west.

In [17]:
df_re= df2[(df2.region=='northwest')]
df_re

      age     sex     bmi  children smoker     region      charges
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
24     37    male  28.025         2     no  northwest   6203.90175
...   ...     ...     ...       ...    ...        ...          ...
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1324   31    male  25.935         1     no  northwest   4239.89265
1333   50    male  30.970         3     no  northwest  10600.54830
1337   61  female  29.070         0    yes  northwest  29141.36030

[325 rows x 7 columns]

In [18]:
dff= df_re[(df_re.sex=='female')]
dff

      age     sex     bmi  children smoker     region      charges
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
27     55  female  32.775         2     no  northwest  12268.63225
36     62  female  32.965         3     no  northwest  15612.19335
47     28  female  34.770         0     no  northwest   3556.92230
...   ...     ...     ...       ...    ...        ...          ...
1299   19  female  25.745         1     no  northwest   2710.82855
1311   33  female  26.695         0     no  northwest   4571.41305
1314   30  female  23.655         3    yes  northwest  18765.87545
1319   39  female  26.315         2     no  northwest   7201.70085
1337   61  female  29.070         0    yes  northwest  29141.36030

[164 rows x 7 columns]

In [19]:
df_sm= dff[(dff.smoker=='yes')]
df_sm.head()

     age     sex     bmi  children smoker     region     charges
64    20  female  22.420         0    yes  northwest  14711.7438
86    57  female  31.160         0    yes  northwest  43578.9394
128   32  female  17.765         2    yes  northwest  32734.1863
160   42  female  26.600         0    yes  northwest  21348.7060
375   23  female  28.310         0    yes  northwest  18033.9679

In [20]:
df_sm.groupby('sex')['smoker'].value_counts()

sex     smoker
female  yes       29
Name: smoker, dtype: int64

# how many males smokers that are older than 25 do we have in the south west

In [21]:
dfs= df2[(df2.region=='southwest')&(df2.sex=='male')&(df2.smoker=='yes')]
dfs.head()

    age   sex   bmi  children smoker     region      charges
19   30  male  35.3         0    yes  southwest  36837.46700
29   31  male  36.3         2    yes  southwest  38711.00000
30   22  male  35.6         0    yes  southwest  35585.57600
34   28  male  36.4         1    yes  southwest  51194.55914
39   60  male  39.9         0    yes  southwest  48173.36100

In [22]:
dft=dfs[dfs.age>25]
dft.head()

    age   sex   bmi  children smoker     region      charges
19   30  male  35.3         0    yes  southwest  36837.46700
29   31  male  36.3         2    yes  southwest  38711.00000
34   28  male  36.4         1    yes  southwest  51194.55914
39   60  male  39.9         0    yes  southwest  48173.36100
52   48  male  28.0         1    yes  southwest  23568.27200

In [23]:
dft['smoker'].value_counts().sum()

28

In [24]:
dft.groupby('sex')['smoker'].value_counts()

sex   smoker
male  yes       28
Name: smoker, dtype: int64

# Which region has the highest number of smokers, and which ages are the highest.

In [25]:
df2['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [26]:
df_reg= df2[(df2.region=='southwest')&(df2.smoker=='yes')]
df_reg.head()

    age     sex   bmi  children smoker     region      charges
0    19  female  27.9         0    yes  southwest  16884.92400
19   30    male  35.3         0    yes  southwest  36837.46700
29   31    male  36.3         2    yes  southwest  38711.00000
30   22    male  35.6         0    yes  southwest  35585.57600
34   28    male  36.4         1    yes  southwest  51194.55914

In [27]:
df_reg['smoker'].unique()

array(['yes'], dtype=object)

In [28]:
df_reg.shape

(58, 7)

In [29]:
df_rec= df2[(df2.region=='southeast')&(df2.smoker=='yes')]
df_rec.head()

    age     sex    bmi  children smoker     region     charges
11   62  female  26.29         0    yes  southeast  27808.7251
14   27    male  42.13         0    yes  southeast  39611.7577
49   36    male  35.20         1    yes  southeast  38709.1760
53   36    male  34.43         0    yes  southeast  37742.5757
57   18    male  31.68         2    yes  southeast  34303.1672

In [30]:
df_rec.shape

(91, 7)

In [31]:
df_res= df2[(df2.region=='northwest')&(df2.smoker=='yes')]
df_res.head()

     age     sex     bmi  children smoker     region      charges
55    58    male  36.955         2    yes  northwest  47496.49445
64    20  female  22.420         0    yes  northwest  14711.74380
85    45    male  22.895         2    yes  northwest  21098.55405
86    57  female  31.160         0    yes  northwest  43578.93940
105   20    male  28.025         1    yes  northwest  17560.37975

In [32]:
df_res.shape

(58, 7)

In [33]:
df_ret= df2[(df2.region=='northeast')&(df2.smoker=='yes')]
df_ret.head()

     age     sex    bmi  children smoker     region     charges
23    34  female  31.92         1    yes  northeast  37701.8768
38    35    male  36.67         1    yes  northeast  39774.2763
92    59    male  29.83         3    yes  northeast  30184.9367
98    56    male  19.95         0    yes  northeast  22412.6485
123   44    male  31.35         1    yes  northeast  39556.4945

In [34]:
df_ret.shape

(67, 7)

In [35]:
df_rec[['age']].sort_values(by=['age'],ascending=False).head()

      age
1265   64
1241   64
664    64
420    64
109    63

# How much does female smokers consumes in northeast

In [36]:
dfw= df_ret[(df_ret.sex=='female')]
dfw.head()

     age     sex    bmi  children smoker     region     charges
23    34  female  31.92         1    yes  northeast  37701.8768
153   42  female  23.37         0    yes  northeast  19964.7463
240   23  female  36.67         2    yes  northeast  38511.6283
244   63  female  27.74         0    yes  northeast  29523.1656
280   40  female  28.12         1    yes  northeast  22331.5668

In [37]:
dfw['sex'].unique()

array(['female'], dtype=object)

In [38]:
dfw.groupby('sex')['charges'].sum()

sex
female    812929.34553
Name: charges, dtype: float64

In [39]:
dfw['charges'].sum()

812929.34553

# What is the highest age range of smokers in the southwest

In [40]:
df_reg[['age']].sort_values(by=['age'],ascending=False).head()

      age
328    64
94     64
175    63
251    63
1284   61

# Which region has the highest mean bmi of smokers

In [41]:
df_reg['bmi'].mean()

31.005172413793108

In [42]:
df_rec['bmi'].mean()

33.096703296703296

In [43]:
df_res['bmi'].mean()

29.14043103448276

In [44]:
df_ret['bmi'].mean()

28.565223880597014

# what is the bmi difference of smokers in the northwest and that of the southwest

In [45]:
NW= df_res[(df_res.smoker== 'yes')&(df_res.region=='northwest')]
y=NW['bmi'].sum()
y

1690.145

In [46]:
SW= df_reg[(df_reg.smoker== 'yes')&(df_reg.region== 'southwest')]
x=SW['bmi'].sum()
x

1798.3000000000002

In [47]:
x-y

108.1550000000002

# what is the mean bmi of smokers within the age range of 25 to 30, then compare it to those between 30-40

In [48]:
smok= df2[(df2.smoker=='yes')&(df2.age>=25)&(df2.age<=30)]
smok['bmi'].mean()

29.525428571428574

In [49]:
smok1= df2[(df2.smoker=='yes')&(df2.age>=30)&(df2.age<=40)]
smok1['bmi'].mean()

30.271111111111114

# Machine learning

In [53]:
df3=df2.copy()
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [54]:
df3['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [55]:
n=df3.columns
n

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [56]:
len(n)

7

In [57]:
x_col=n[:6]
x_col

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region'], dtype='object')

In [60]:
x_data=df3[x_col]
x_data.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [61]:
m=df3['charges']
m

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

# Bringing out numeric columns

In [70]:
h=x_data.select_dtypes(include=np.number)
num=h.columns.to_list()
num

['age', 'bmi', 'children']

# Bringing out non_numeric columns

In [66]:
j=x_data.select_dtypes(include=object)
nonum=j.columns.to_list()
nonum

['sex', 'smoker', 'region']

In [75]:
non_numeric= x_data[nonum]
non_numeric

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [74]:
numeric=x_data[num]
numeric

      age     bmi  children
0      19  27.900         0
1      18  33.770         1
2      28  33.000         3
3      33  22.705         0
4      32  28.880         0
...   ...     ...       ...
1333   50  30.970         3
1334   18  31.920         0
1335   18  36.850         0
1336   21  25.800         0
1337   61  29.070         0

[1338 rows x 3 columns]

In [71]:
from sklearn import preprocessing

# Converting/encoding non-numeric columns to numeric

In [84]:
label_encoder= preprocessing.LabelEncoder()

In [85]:
pn= non_numeric.columns

In [87]:
for i in pn:
    non_numeric[i]=label_encoder.fit_transform(non_numeric[i])

C:\Users\user\AppData\Local\Temp\ipykernel_18304\2731731833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_numeric[i]=label_encoder.fit_transform(non_numeric[i])
C:\Users\user\AppData\Local\Temp\ipykernel_18304\2731731833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_numeric[i]=label_encoder.fit_transform(non_numeric[i])
C:\Users\user\AppData\Local\Temp\ipykernel_18304\2731731833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_numeric[i]=label_encoder.fit_transform(non_numeric[i])

In [88]:
concat_data=pd.concat([numeric,non_numeric], axis=1)
concat_data

      age     bmi  children  sex  smoker  region
0      19  27.900         0    0       1       3
1      18  33.770         1    1       0       2
2      28  33.000         3    1       0       2
3      33  22.705         0    1       0       1
4      32  28.880         0    1       0       1
...   ...     ...       ...  ...     ...     ...
1333   50  30.970         3    1       0       1
1334   18  31.920         0    0       0       0
1335   18  36.850         0    0       0       2
1336   21  25.800         0    0       0       3
1337   61  29.070         0    0       1       1

[1338 rows x 6 columns]

In [91]:
from sklearn.model_selection import train_test_split

In [112]:
X_train, X_test, y_train, y_test=train_test_split(concat_data, m, test_size=0.29, random_state=4)
X_train.head()

      age     bmi  children  sex  smoker  region
59     34  37.335         2    0       0       1
793    53  20.900         0    1       1       2
328    64  33.800         1    0       1       3
895    61  44.000         0    0       0       3
1184   23  28.490         1    0       1       2

In [113]:
X_train['region'].unique()

array([1, 2, 3, 0])

In [114]:
X_train.shape

(949, 6)

In [115]:
X_test.shape

(389, 6)

In [116]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [117]:
linear=lr.fit(X_train,y_train)
linear

LinearRegression()

In [118]:
from sklearn import metrics
met=lr.score(X_train,y_train)
met

0.7650192409991283

In [120]:
pred=[]
for i in range(0,len(X_train.columns)):
    value=float(input('enter a number'))
    pred.append(value)
print(pred)

enter a number34.0
enter a number37.0
enter a number2.0
enter a number0.0
enter a number0.0
enter a number1.0
[34.0, 37.0, 2.0, 0.0, 0.0, 1.0]

In [121]:
prd=linear.predict([pred])
prd

C:\Users\user\python\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([9752.63042845])

In [122]:
o=df3['smoker']
o

0       yes
1        no
2        no
3        no
4        no
       ...
1333     no
1334     no
1335     no
1336     no
1337    yes
Name: smoker, Length: 1338, dtype: object

In [123]:
new_data=df3.drop(['smoker'], axis=1)
new_data

      age     sex     bmi  children     region      charges
0      19  female  27.900         0  southwest  16884.92400
1      18    male  33.770         1  southeast   1725.55230
2      28    male  33.000         3  southeast   4449.46200
3      33    male  22.705         0  northwest  21984.47061
4      32    male  28.880         0  northwest   3866.85520
...   ...     ...     ...       ...        ...          ...
1333   50    male  30.970         3  northwest  10600.54830
1334   18  female  31.920         0  northeast   2205.98080
1335   18  female  36.850         0  southeast   1629.83350
1336   21  female  25.800         0  southwest   2007.94500
1337   61  female  29.070         0  northwest  29141.36030

[1338 rows x 6 columns]

# Getting numeric data columns

In [125]:
rt=new_data.select_dtypes(include=np.number)
numbers=rt.columns.to_list()
numbers

['age', 'bmi', 'children', 'charges']

# Getting non_numeric data columns

In [126]:
pt=new_data.select_dtypes(include= object)
objects=pt.columns.to_list()
objects

['sex', 'region']

In [127]:
digits=new_data[numbers]
digits

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
...   ...     ...       ...          ...
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1338 rows x 4 columns]

In [128]:
letters=new_data[objects]
letters

         sex     region
0     female  southwest
1       male  southeast
2       male  southeast
3       male  northwest
4       male  northwest
...      ...        ...
1333    male  northwest
1334  female  northeast
1335  female  southeast
1336  female  southwest
1337  female  northwest

[1338 rows x 2 columns]

In [129]:
obj=letters.columns
obj

Index(['sex', 'region'], dtype='object')

# Converting/encoding non-numeric to numeric

In [130]:
for i in obj:
    letters[i]=label_encoder.fit_transform(letters[i])

C:\Users\user\AppData\Local\Temp\ipykernel_18304\1001631137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  letters[i]=label_encoder.fit_transform(letters[i])
C:\Users\user\AppData\Local\Temp\ipykernel_18304\1001631137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  letters[i]=label_encoder.fit_transform(letters[i])

In [131]:
letters

      sex  region
0       0       3
1       1       2
2       1       2
3       1       1
4       1       1
...   ...     ...
1333    1       1
1334    0       0
1335    0       2
1336    0       3
1337    0       1

[1338 rows x 2 columns]

In [133]:
conc_val=pd.concat([digits,letters], axis=1)
conc_val

      age     bmi  children      charges  sex  region
0      19  27.900         0  16884.92400    0       3
1      18  33.770         1   1725.55230    1       2
2      28  33.000         3   4449.46200    1       2
3      33  22.705         0  21984.47061    1       1
4      32  28.880         0   3866.85520    1       1
...   ...     ...       ...          ...  ...     ...
1333   50  30.970         3  10600.54830    1       1
1334   18  31.920         0   2205.98080    0       0
1335   18  36.850         0   1629.83350    0       2
1336   21  25.800         0   2007.94500    0       3
1337   61  29.070         0  29141.36030    0       1

[1338 rows x 6 columns]

In [136]:
X_train, X_test, y_train, y_test= train_test_split(conc_val, o, test_size=0.29, random_state=4)
X_train.head()

      age     bmi  children      charges  sex  region
59     34  37.335         2   5989.52365    0       1
793    53  20.900         0  21195.81800    1       2
328    64  33.800         1  47928.03000    0       3
895    61  44.000         0  13063.88300    0       3
1184   23  28.490         1  18328.23810    0       2

In [137]:
X_train.shape

(949, 6)

In [138]:
X_test.shape

(389, 6)

In [140]:
from sklearn.tree import DecisionTreeClassifier

In [141]:
stax=DecisionTreeClassifier()
stax

DecisionTreeClassifier()

# Fitting decision classifier in X_train, y_train

In [142]:
stax_fit=stax.fit(X_train, y_train)
stax_fit

DecisionTreeClassifier()

# Using decision classifier to score X_train, y_train(X_test, y_test)

In [144]:
from sklearn import metrics
sta=stax.score(X_train, y_train)
sta

1.0

In [145]:
X_train.columns

Index(['age', 'bmi', 'children', 'charges', 'sex', 'region'], dtype='object')

In [147]:
X_test.columns

Index(['age', 'bmi', 'children', 'charges', 'sex', 'region'], dtype='object')

In [148]:
val_pred=[]
for i in X_train.columns:
    valu=float(input('enter a num'))
    val_pred.append(valu)
print(val_pred)

enter a num34
enter a num37.335
enter a num2
enter a num5989.52365
enter a num0
enter a num1
[34.0, 37.335, 2.0, 5989.52365, 0.0, 1.0]

In [149]:
pred_smoker=stax_fit.predict([val_pred])
pred_smoker

C:\Users\user\python\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['no'], dtype=object)